# ===== Common Erlang Tools =====
*.coverdata
*.crashdump
*.eqc
*.log
*_plt
.cache/
.eqc
.eqc-info
.erlang.cookie
.erlang.mk
.eunit/
.pulse/
.qc/
.rebar/
.rebar3/
_build/
_checkouts/
_deps/
_test/
deps/
ebin/
log/
logs/

# ===== Common Development Tools =====
*.bak
*.dump
*.iml
*.orig
*.plt
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
*~
.DS_Store
.concrete/
.idea/
.project
.settings/
.tm_properties
.vscode/
/*.txt
erln8.config
tags
tmp/
perf/*.beam

# ===== Project-specific Elements =====

*.jar
*.png
/doc/*
/riak
/riak-test-manifest.mf
/riak_test
/search-corpus/spam.0

# ===== Order matters - exclusion overrides last =====

!/doc/*.edoc
!/doc/*.md
