# ===== Common Erlang Tools =====
*.coverdata
*.crashdump
*.eqc
*.log
*_plt
.cache/
.eqc
.eqc-info
.erlang.cookie
.erlang.mk
.eunit/
.pulse/
.qc/
.rebar/
.rebar3/
_build/
_checkouts/
_deps/
_test/
deps/
ebin/
log/
logs/
rebar.lock

# ===== Common Development Tools =====
*.bak
*.dump
*.iml
*.orig
*.plt
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
*~
.DS_Store
.concrete/
.idea/
.project
.settings/
.tm_properties
.vscode/
/*.txt
erln8.config
tmp/

# ===== Project-specific Elements =====

*.jar
*.png
out
riak-*
riak_test
search-corpus/spam.0
smoke_test
tags
