{minimum_otp_vsn, "22"}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [{src_dirs, [src, intercepts, perf]}]}.

{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
        {getopt, ".*", {git, "https://github.com/jcomellas/getopt", {tag, "v1.0.1"}}},
        {mapred_verify, ".*", {git, "https://github.com/nhs-riak/mapred_verify", {branch, "nhse-develop-3.0"}}},
        {riakhttpc, ".*", {git, "https://github.com/nhs-riak/riak-erlang-http-client", {branch, "nhse-d34-otp26"}}},
        {kvc, "1.7.0", {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {kv_index_tictactree, ".*", {git, "https://github.com/nhs-riak/kv_index_tictactree.git", {branch, "nhse-develop"}}}
       ]}.

{escript_incl_apps, [getopt, riakhttpc, riakc, ibrowse, mochiweb, kvc, kv_index_tictactree]}.
{escript_emu_args, "%%! -escript main riak_test_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/riak_test\" ./riak_test"}]}.

{profiles, [{test, [{extra_src_dirs, ["tests", "perf"]}]}]}.

{xref_checks,[undefined_function_calls,undefined_functions]}.

