%% ------------------------------------------------------------------
%%
%% Copyright (c) 2012-2016 Basho Technologies, Inc.
%% Copyright (c) 2017-2022 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% ------------------------------------------------------------------
%%

{require_otp_vsn, "22"}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [
    {src_dirs, [src, intercepts, perf, tests]},
    warnings_as_errors,
    {platform_define, "^[2-9][1-9][0-9]*(.?[0-9]*)", deprecated_21},
    {platform_define, "^[2-9][2-9][0-9]*(.?[0-9]*)", deprecated_22},
    {parse_transform, lager_transform}
]}.

{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
    {lager,
        {git, "https://github.com/nhs-riak/lager.git",
            {branch, "wday-develop-3.0"}}},
    {getopt,
        {git, "https://github.com/nhs-riak/getopt.git",
            {branch, "wday-develop-3.0"}}},
    {meck,
        {git, "https://github.com/nhs-riak/meck.git",
            {branch, "wday-develop-3.0"}}},
    {mapred_verify,
        {git, "https://github.com/nhs-riak/mapred_verify.git",
            {branch, "wday-develop-3.0"}}},
    {riakhttpc,
        {git, "https://github.com/nhs-riak/riak-erlang-http-client.git",
            {branch, "wday-develop-3.0"}}},
    {kvc,
        {git, "https://github.com/nhs-riak/kvc.git",
            {branch, "wday-develop-3.0"}}},
    {kv_index_tictactree,
        {git, "https://github.com/nhs-riak/kv_index_tictactree.git",
            {branch, "wday-develop-3.0"}}}
]}.

%%
%% If the standalone riak_test escript can't run a test due to an undefined
%% reference, ensure that the package containing it is in this list.
%%
{escript_incl_apps, [
    getopt,
    goldrush,
    ibrowse,
    kv_index_tictactree,
    kvc,
    lager,
    mochiweb,
    riakc,
    riakhttpc
]}.

{escript_name, riak_test}.
{escript_emu_args,
    "%%! -escript main riak_test_escript +C multi_time_warp\n"}.

{provider_hooks, [
    {post, [
        {compile, escriptize}
    ]}
]}.

{post_hooks, [
    {escriptize,
        "/bin/ln -f \"$REBAR_BUILD_DIR/bin/riak_test\" ./riak_test"}
]}.

{profiles, [
    {smoke, [
        %% Smoke test compiles but is rebar2-centric and needs a complete overhaul to run
        %% with rebar3. This profile replaces the rebar.config.script that enabled it in
        %% case someone chooses to do the rework.
        {escript_name, smoke_test},
        {escript_emu_args,
            "%%! -escript main smoke_test_escript +C multi_time_warp\n"},
        {post_hooks, [
            {escriptize,
                "/bin/ln -f \"$REBAR_BUILD_DIR/bin/smoke_test\" ./smoke_test"}
        ]}
    ]}
]}.
